{% extends "account/base.html" %}
{% load i18n allauth account %}
{% block title %}Password Reset {% endblock %}
{% block content %}
{% element h1 %}
{% trans "Password Reset" %}
{% endelement %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in" %}
{% endif %}
{% element p %}
{% blocktranslate %}Forgotten your password? Enter your email below and we'll send you an email to reset password {% endblocktranslate %}
{% endelement %}
{% url 'account_reset_password' as password_reset %}
{% element form form=form method="post" action=password_reset %}
{% slot body %}
{% csrf_token %}
{% element fields form=form %}
{% endelement %}
{{redirect_field}}
{% endslot %}
{% slot actions %}
{% element button type="submit" %}
{% trans "Reset password" %}
{% endelement %}
{% endslot %}
{% endelement %}
{% element p %}
{% blocktranslate %}If you have any trouble with resetting password, please contact us.
{% endblocktranslate %}
{% endelement %}
{% endblock %}
